{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | Wish {% endblock %}
{% block body %}
    <h3>{{ wish.title }}</h3>
    <section class="wish-section">
        <div>{{ wish.description?wish.description:"..." }}</div>
        <hr>
        <p><a href="#" title="view author profile">{{ wish.author }}</a> | {{ wish.dateCreated | format_datetime(pattern="EEEE d MMMM Y, hh:mm", locale='fr')}}</p>
    </section>

{% endblock %}