<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bucket List {% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;700&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ asset('img/favicon.png') }}">

</head>
<body>
<div class="container">
    <header>
        <div class="content-wrap">
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.png') }}" alt="Bucket List Home" > Bucket-List</a></h1>
        {% include('inc/_nav.html.twig') %}
        </div>
    </header>
    <main>
        <div class="content-wrap">
        {%  block body %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="content-wrap">
             <div>&copy;Bucket-List {{ "now" | date("Y") }} </div>
        </div>
    </footer>
</div>
</body>
</html>